<h1 class= "text-center">New Wiki</h1>
 
<div class="row">
  <div class="col-md-4">
    <p>A website that allows collaborative editing of its content and structure by its users</p>
    <ul>
      <li>Wikis permit asynchronous communication and group collaboration
      across the Interne</li>
      <li> The results of the users’ actions on the content of
      the site are instantly visible to other users</li>
      <li> The term "Wiki" is used as an alliterative substitute for quick</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'wikis/form' %> 
  </div>
</div>
