// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wiki {
  background: transparent url("https://cdn.pixabay.com/photo/2013/07/12/13/58/ipad-147691_960_720.png") ;
  background-size: 100% 103%;
  background-repeat: no-repeat;
  background-position: 50% 33%;
  
   
}